@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

* {
  font-family: "Nunito", sans-serif;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-primary-blue: var(--primary-blue);
  --color-primary-green: var(--primary-green);
  --color-primary-red: var(--primary-red);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --primary-blue: oklch(0.633 0.192 259.624);
  --primary-green: oklch(0.682 0.188 138.166);
  --primary-red: oklch(0.608 0.22 26.853);

  /* Fundo da aplicação (<body>) */
  --background: oklch(0.145 0 0);
  --foreground: oklch(1 0 0);

  /* Fundo do <Card> */
  --card: oklch(0.204 0 0);
  --card-foreground: oklch(1 0 0);

  /* Fundo do <DropdownMenu>, <HoverCard>, <Popover> */
  --popover: oklch(0.204 0 0);
  --popover-foreground: oklch(1 0 0);

  /* Botões */
  --primary: oklch(0.682 0.188 138.166);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.275 0.006 286.001);
  --secondary-foreground: oklch(1 0 0);

  /* Fundo do <Switch>, <Skeleton> e <TabList> */
  --muted: oklch(0.275 0.006 286.001);
  --muted-foreground: oklch(0.715 0 0);

  /* Efeito de hover no <DropdownMenu>, <HoverCard> e <Popover> */
  --accent: oklch(0.275 0.006 286.001);
  --accent-foreground: oklch(1 0 0);

  /* Botões perigosos (deleção, por exemplo) */
  --destructive: oklch(0.608 0.22 26.853);
  --destructive-foreground: oklch(1 0 0);

  /* Borda dos elementos */
  --border: oklch(0.275 0.006 286.001);

  /* Borda dos inputs */
  --input: oklch(0.275 0.006 286.001);

  /* Cor do ring nos inputs */
  --ring: oklch(0.87 0 0);

  /* Border radius para cards, inputs e botões */
  --radius: 0.5rem;

  /* Gráficos */
  --chart-1: oklch(0.529 0.193 262.129);
  --chart-2: oklch(0.698 0.134 165.463);
  --chart-3: oklch(0.723 0.15 60.631);
  --chart-4: oklch(0.619 0.204 312.728);
  --chart-5: oklch(0.612 0.209 6.386);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
